{% extends "base.html" %}
{% block content %}

<img src="../static/images/logo.png" alt="" id="logo">

<div class="color-block">
  <h1>THE BEERS</h1>
  <h3>Suspendisse at massa sed tortor aliquet feugiat. Nullam ornare pulvinar lacus, sed rhoncus odio semper nec. Donec ultrices feugiat nunc, quis sollicitudin felis tincidunt et. Aliquam eu leo eu orci elementum laoreet ultricies sed augue. Cras porttitor, arcu ac tempor dignissim, libero eros pellentesque ex, a hendrerit nisi mi in ipsum. Sed aliquam maximus justo, sit amet laoreet sem rhoncus eu. Praesent at tincidunt purus. Vivamus bibendum urna eu purus dapibus feugiat. Curabitur tempor est et auctor egestas. Sed sed eros ac massa facilisis ultrices.
Aliquam ut mattis magna, suscipit feugiat ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam rhoncus neque vel porttitor elementum. Praesent in viverra elit. Aliquam egestas rutrum lacus. In sagittis pulvinar enim, dapibus congue nisi fringilla sed. Morbi ultrices aliquam pellentesque. In at vehicula purus. Sed a posuere sem, ut imperdiet dui. Cras vulputate, odio quis feugiat vestibulum, lectus enim semper est, in molestie urna nisl semper diam. Vivamus dapibus placerat tortor, in dapibus magna feugiat quis. Suspendisse ut tempus turpis, ut tincidunt urna. Pellentesque eu lacinia urna, eget rhoncus dolor.</h3>
</div>

{% endblock content%}
